<div class="row">
    
    <div class="container" >
      <div class="col-md-8" >
        <form id="formData" #userData= "ngForm"  (ngSubmit)="logUser(userData.value)">
          <fieldset>
            <div class="container1">
            <legend class="lable">Login Form</legend>
            <div class="form-group">
              <label for="exampleInputEmail1" class="lable">Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email" ngModel>
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="lable">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" ngModel>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <button type="submit" value="Register" class="btn btn-primary" mat-Button>Login</button>
              </div>            
            </div>
          </div>
          </fieldset>
        </form>
      </div>
    </div>
    
     </div>
  