<div *ngIf="!authservice.isAdmin()">
<div class="my_position">
                <!-- <div class="col-xs-9"> -->
                 <legend style="text-align: left;">Your Reservation Details</legend>
                  
                    <div>
                        <table *ngIf="reservations" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Lab Name</th>
                                    <th>Date</th>
                                    <th>Time Slot</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of reservations">
                                    <td> {{ x.labname}} </td>
                                    <td> {{ x.date}} </td>
                                    <td> {{ x.intime}} </td>
                                    <td> {{ x.reason}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<div *ngIf="authservice.isAdmin()">
    <h1>This is Admin Home Page</h1>
</div>